#logo{
    display:flex;
    justify-content: center;
    background-color: black;
}

#encabezado{
    display: flex;
    height: 90px;
    background-color:black;
}

.nav-link{
 color:white;   
}

.nav-item{
    background-color:black;
    padding-left:30px;
}

.btn-menu{
    align-self: flex-end;
}

.cartext{
    padding: 1em;
    width: 100%;
    background-color: steelblue;
    margin:0;
}

