:root {
    /* tipografia */
    --titulo: 'Adamina', serif;
    --texto: 'Open Sans', sans-serif;
    --texto-detalles: 'Alegreya Sans', sans-serif;
    --detalles: 'IM Fell English SC', serif;
    /* colores */
    --dorado: #9f8932;
    --gris: #363859;
    --blanco: #fcfcfc;
    --negro: #292100;
    --azul: #21267a;
    /*Colores de botón del baúl*/
    --blackchest: url('https://api.iconify.design/mdi/treasure-chest.svg?color=black')
        no-repeat center center / contain;
    --pinkchest: url('https://api.iconify.design/mdi/treasure-chest.svg?color=%23fe302f');
}

.mask{
    background-color: rgba(31, 19, 3, 0.5);
    background-blend-mode:darken ;
}

.contenedor__baul{
    display: flex;
    width:100%;
    flex-direction: column;
    justify-content: space-around;
}

.fondo__div{
    background-image: url(../img/baul-compras.jpg);
    background-position: center;
    background-size: cover;
    opacity: 0.85;
}

.navegacion__usuario{
    display:flex;
    flex-direction: row;
}
.navegacion__usuario--texto{
    align-self: center;
    color:white;
    font-size: 1rem;
}

.baul__compras{
    display: flex;
    width:100%;
    flex-direction: column nowrap;
    justify-content: space-around;
}

.baul__compras--detalle{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
    width:55%;
    border-radius: 25px;
    padding:50px;
    margin-top: 50px;
}
.detalle__titulo{
    font-family: 'Adamina', serif;
    color: white;
    font-weight: 700;
}
.detalle__descripcion{
    margin-top: 1%;
    color: white;
    font-weight: 400;
    font-style: italic;
    font-family: --detalles;
}
.detalle__encabezados{
    display: flex;
    flex-direction: row;
    color: white;
    font-size:1.6rem;
    font-weight: 700;
    justify-content:space-around;
    margin-bottom: 15px;
    width: 90%;
    font-family: 'Adamina', serif;
}

.detalle__producto{
    display:flex;
    flex-direction: row;
    width:100%;
    justify-content:space-around;
    align-content: center;
}

.detalle__producto--informacion{
    display: flex;
    flex-direction: row;
    justify-content:center;
    margin-left: -50px;
}

.producto__informacion--descripcion{
    color:white;
    align-self: center;
    align-content: center;
    justify-content: center;
    font-size: large;
    font-family: 'Alegreya Sans', sans-serif;
    margin-left: -250px;
    width: 50px !important;
}
.detalle__producto--precio{
    display:flex; 
    align-content: center;
    justify-content: center;
    color:white;
    font-size:1.8rem;
    font-weight: 600;
    font-family: 'Alegreya Sans', sans-serif;
}

.detalle__producto--contador{
    display:flex;
    flex-direction: column; 
    align-content: center;
    /* margin: 5% 0%; */
}

.detalle__producto--seccion{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 50%;
}
.contador{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

span {
    cursor:pointer; }

.number{
	margin:50px;
}
		
.minus, .plus{
	width: 30px;
    height: 30px;
    border-radius: 50%;
	background:#ddd;
	border:10px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    font-weight: 800;
}
.contenedor-productos {
    padding-top: 3.5em;
    margin: 0 auto;
}

input{
	height:30px;
    width: 45px;
    text-align: center;
    font-size: 20px;
	border:1px solid #ddd;
	border-radius:4px;
    display: inline-block;
    vertical-align: middle; 
    font-weight: 800;
}			

.compras__resumen{
    display: flex;
    flex-direction: column;
    /* background-image: linear-gradient(to bottom, rgb(182, 148, 11), rgba(241,196,15,0.2)); */
    width:35%;
    border-radius: 25px;
    padding: 50px;
    margin-top: 50px;
}

.resumen__producto{
    font-size: 1.5rem;
    font-family: 'Alegreya Sans', sans-serif;
    margin:10px;
    color:white;   
}

.resumen__compra--total{
    display: flex;
    border-top: 3px solid white; 
    justify-content:flex-end;
    font-size: 1.3rem;
    font-weight:900;
    color: white;
    padding-right: 15%;
    margin-top: 10%;
    font-family: 'Alegreya Sans', sans-serif;
}
.resumen__boton--comprar{
    background-color: rgb(255, 217, 0);
    color:rgb(85, 84, 84);
    font-weight: bolder;
    font-size: 1rem;
    font-family: 'Alegreya Sans', sans-serif;
}
/* Carrusel */

.carrusel{
    justify-self: center;
    width:90%;
    border-radius: 25px;
    padding:30px;
   /*  margin:8% 8%; */
}

/* This only changes this particular animation duration */
.animate__animated.animate_pulse {
    --animate-duration: 10s;
  }
  
  /* This changes all the animations globally */
  :root {
    --animate-duration: 60ms;
    --animate-delay: 5s;
  }


 /*Cards*/
  
h3 {
    font-family: var(--titulo);
    font-weight: 400px;
    font-size: 0.9rem !important;
}

h4 {
    font-family: var(--texto-detalles);
    font-weight: 900;
    font-size: 27px;
    color: #fcfcfc;
    text-decoration: overline#977f1e;
}

h5 {
    font-family: var(--titulo);
    font-size: 21px;
    font-weight: 800;
}

h6 {
    font-family: var(--texto-detalles);
    font-size: 30px;
    text-shadow: 10cm;
    color: var(--dorado);
}

p {
    font-family: var(--texto);
    font-size: 20px;
}

.footer__titulo {
    font-family: var(--detalles);
}

.card-title {
    font-family: var(--titulo);
}

.card-text {
    font-family: var(--texto);
}
/*las clases que se encuentran abajo de este punto son necesarias para que las cards funcionen siguen casi por completo la metodología BEM
solo no se siguio estrictamente para algunas subclases asegurese de incluir el :root con al menos --blackchest y -pinkchest*/

.chest {
    background: var(--blackchest);
}

.contenedor-productos {
    padding-top: 3.5em;
    margin: 0 auto;
}

.producto {
    margin-bottom: 26px;
    /* width: 75%; */
    flex-direction: column;
}

producto:hover {
    transform: scale(1.2, 1.2) rotate(5deg);
}

.producto__parte-1 {
    position: relative;
    background-color:#271d1d9f;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(2px);
    height: 290px;
    max-height: 290px;
    overflow: hidden;
    border-radius: 10% 10% 0% 0%;
}

.producto__parte-1::before {
    position: absolute;
    content: ' ';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all 0.3s;
}

.producto__parte-1--img {
    margin: 0 auto;
    width: 110%;
    height: 100%;
    transition: all 0.3s;
}

.producto__parte-1--img-pop {
    margin: 0 auto;
    max-height: 250px;
    border-radius: 18px;
    margin-bottom: 15px;
}

.producto:hover .producto__parte-1--img {
    transform: scale(1.2, 1.2) rotate(5deg);
}

.producto__parte-1--descuento,
.producto__parte-1--nuevo {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #ffffff;
    background-color: #fe302f;
    padding: 2px 8px;
    text-transform: uppercase;
    font-size: 0.85rem;
    z-index: 99;
}

.producto__parte-1--nuevo {
    left: 0;
    background-color: #444444;
}

.producto__parte-1--ul {
    position: absolute;
    bottom: -41px;
    left: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.producto:hover .producto__parte-1--ul {
    bottom: 30px;
    opacity: 1;
}

.producto__parte-1--ul li {
    display: inline-block;
    margin-right: 4px;
}

.producto__parte-1--ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #ffffff;
    color: #444444;
    text-align: center;
    box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
    transition: color 0.2s;
}

.producto__parte-1--ul li a:hover {
    content: var(--pinkchest);
}

.producto__parte-2 {
    background-image: url(https://c.tenor.com/ll3rQ9a_zqYAAAAC/galaxy.gif);
    padding: 20px;
    border-radius: 0% 0% 10px 10px;
}

.producto__parte-2--titulo {
    font-size: 1.1rem;
    color: white;
}

.producto__parte-2--titulo-des {
    font-size: 1.5rem;
    color: white;
}

.producto__parte-2 h4 {
    display: inline-block;
    font-size: 0.9rem;
    color: white;
}

.producto__parte-2--precio {
    color: white;
}

.producto__parte-2--precioDes {
    font-size: 20px;
    color: white;
    margin-bottom: 25px;
}

.producto__parte-2--viejo-precio {
    position: relative;
    padding: 0 7px;
    margin-right: 2px;
    opacity: 0.6;
    color: white;
}

.producto__parte-2--descripcion {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: white;
    text-decoration: none;
}

.producto__parte-2--viejo-precio::after {
    position: absolute;
    content: ' ';
    top: 50%;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #444444;
    transform: translateY(-50%);
}

/*clases no tan necesarias solo para el carrusel vista móvil*/


.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

/* MediaQueries Breakpoint */
/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 
body{
    background-image: url(../img/baul-compras.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x:center ;
    }
.navegacion__usuario--texto{
 display: none;
    }
.baul__compras{
    flex-direction: column-reverse;
    justify-content: center;
    align-content: center;
}

.compras__resumen{
    width:90%;
    padding: 15px;
    margin-top: 50px !important;
    margin:auto;
}

.baul__compras--detalle{
    width: 90% !important;
    padding:0px;
    margin: auto;
    margin-top: 5%;
}

.detalle__encabezados{
    display:none;
    font-size: 1.2rem;

}

.detalle__producto{
    display:flex;
    flex-direction: column;
    width:100%;
    justify-content:center;
    align-content: center;
}
.detalle__titulo{
    display: flex;
    flex-direction: row;
    color: white;
    font-size:1.5rem;
    font-weight: 700;
    justify-content:center;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 90%;
}

.detalle__producto--informacion{
    display: flex;
    flex-direction: column;
    justify-content:center;
    text-justify: center;
    width:100% !important;
    margin: auto !important;;
    padding: 0%;
}
.detalle__imagen{
    margin:auto;
}

.producto__informacion--descripcion{
    display:flex;
    color:white;
    font-size: 1.2rem;
    margin:auto !important;
    padding: 0%;
    width: 90%;
    justify-content: center;
    text-justify: center;
}

.detalle__producto--seccion{
    display: flex;
    flex-direction: row;
    width:85%;
    justify-content: space-around;
}

}