/* contacto */

h1 {
    text-align: center;
    font-size: 80px;
    font-weight:500;
    font-family:var(--titulo);
    color:var(--blanco);
    margin:35px;
}

p {
    text-align: center;
    font-size: 23px;
    font-weight:700;
    font-family:var(--texto);
    color:var(--blanco);
    margin-bottom:3rem;
}

span {
    font-family:var(--texto-detalles);
    font-size: 26px;
    font-weight:800;
    text-decoration:solid;
    color:var(--amarillo);
    

}

.container1{
    padding-top: 100px;
    text-align: center;
    display:flex;
    justify-content: space-around;
    font-size: 2.5rem;
    font-weight: 800;
}

.container2{
    padding-top:3rem;
    text-align: center;
    justify-content: space-around;
    font-size: 2.5rem;
    font-weight: 800;
}

.contenedorPrincipal{
    width: 80%;
}

.borde
{
    background-image: url("../img/contacto_fondo_2.png");
    border-radius: 15px; 
    box-shadow: 0 0 0 15px var(--negro),
    0 0 0 5px var(--negro);
    font-family: var(--texto);
    font-size: 4rem;
    font-weight:700;
    background-repeat: round;
}


.nombre{
    border-radius: 15px;
}

.familia{
    border-radius: 15px;
}

.mensaje{
    height: 200px;
    border-radius: 20px; 
    width: 80%;
    margin-bottom:2rem;
 }

 ::placeholder {
    color: var(--gris);
    font-weight: 300;
}

textarea{
    background-color: var(--blanco);
    color: var(--gris);
    font-family: var(--texto);
    font-size:2rem;
    width:100%;
}


.btn-enviar {
    padding: 10px 20px;
    border-radius: 15px;
    padding:1rem;
    margin-top:1rem;
}

.btn{
    width:30%;
    font-size:2rem;
    font-family: var(--texto);
}

@media (min-width:250px) and (max-width: 768px) {

    .contenedor{
        margin: 0 15px;
    }

    .container1{
        flex-direction:column;
    }

    .nombre__textarea{
        width:100%;
    } 

    .btn{
        width:100%;
    }
}