* {
    margin: 0;
}

html,body{
    overflow-x: hidden;
}

body,a,a:hover {
    cursor: url(http://cur.cursors-4u.net/user/use-1/use160.cur), progress;
}
#particles-js{
    background-color:  #000511;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: -1;
}
#fondo {
    bottom: 0;
    height: 70vh;
    width: 100%;
    position: fixed;
    z-index: -1;
    filter: brightness(60%);
}

/*Estos cambios los estoy realizando para unir las versiones hare una prueba elemental*/

@media (min-width: 992px) {
    #logo {
        display: flex;
        justify-content: center;
        background-color: black;
    }

    #logo2 {
        display: none;
    }
}

@media (max-width: 991px) {
    #logo {
        display: none;
    }

    #logo2 {
        display: flex;
    }
}

/*#logo{
    display:flex;
    justify-content: center;
    background-color: black;
}*/

#encabezado {
    display: flex;
    height: 90px;
    background-color: black;
    z-index: 100;
}

/*.nav-link{
 color:white;   
}*/

.nav-item {
    background-color: black;
    padding-left: 30px;
}
.footer__item {
    background-color:transparent;
    text-align: start;
}

.btn-menu {
    align-self: flex-end;
}

/*Codigo para el footer*/

.footer {
    background-color: rgba(0, 0, 0,0.9);
}

.footer h2,
.nav-link {
    color: #fff;
    font-weight: 700;
}

.footer img {
    width: 55%;
    height: 55%;
}

.footer__imagen {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

.linea {
    border-left: 1px solid #fff;
    height: 75px;
    position: relative;
    right: -5%;
    margin-left: -3px;
    top: 8px;
}

@media (min-width: 300px) and (max-width: 650px) {
    .footer__titulo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .linea {
        visibility: hidden;
    }
    .footer__imagen img {
        width: 65%;
        height: 75%;
    }
    .footer__menu_1 {
        margin: 0;
    }
}
