:root {
    --black-dg: rgba(0, 0, 0, 0.8);
    --black: #000;
    --red-bg: rgba(174, 0, 1, 0.9);
    --white: #fff;
    --gold: #dfa507;
    --hufflepuff: #d2b207;
    --slytherin: #0b360e;
    --ravenclaw: #035b78;
    --griffindor: #ae0001;
}

html {
    overflow-x: hidden;
    font-size: 62.5%;
    box-sizing: border-box;
    /*ayuda a mejorar el box model*/
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
/* Den: Te añadi esto para el cursor */
body,a,a:hover {
    cursor: url(http://cur.cursors-4u.net/user/use-1/use160.cur), progress;
}
/* -------------- */
body {
    font-size: 1.6rem;
    overflow-x: hidden ;
    /*1rem=10px*/
}

/* NAVEGACION */
.navegacion {
    background-color: var(--black-dg);
    padding: 2rem;
}

@media (max-width: 500px) {
    .navegacion__logo {
        visibility: hidden;
    }
    .navegacion {
        padding: 0.1rem;
    }
}
.nav__btn {
    width: 12%;
    border: none;
    background: none;
}
.nav__baul img {
    width: 100%;
}
.nav__btn__2 {
    width: 12%;
    border: none;
    background: none;
    margin: 0 -2rem 0 5rem;
}
.nav__baul__2 img {
    width: 55%;
}

.navbar-toggler {
    font-size: 2rem;
}
.nav__li {
    background-image: url(../img/Gryffindor.png);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 2rem;
    border: 2px solid var(--griffindor);
    margin-left: 1.5rem;
    margin-bottom: 0.8rem;
    padding-bottom: 6.3rem;
    border-radius: 2rem;
}

.nav-menu {
    color: var(--griffindor);
    -webkit-text-stroke: 2px var(--black);
    font-weight: 700;
    font-size: 3.6rem;
}

@media (min-width: 300px) and (max-width: 500px) {
    .nav__btn__2 {
        visibility: hidden;
    }
    .navegacion {
        background-color: var(--griffindor);
    }
    .nav__li {
        border: 2px solid var(--black);
        background-image: none;
    }
    .nav-menu {
        color: var(--gold);
        -webkit-text-stroke: transparent;
        font-weight: 700;
    }
}

.nav-menu:hover {
    color: var(--gold);
}

.hufflepuff,
.ravenclaw,
.slytherin,
.griffindor {
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--griffindor);
    border-radius: 0.5rem;
}
.hufflepuff:hover {
    background-color: var(--hufflepuff);
    color: var(--white);
}

.ravenclaw:hover {
    background-color: var(--ravenclaw);
    color: var(--white);
}

.slytherin:hover {
    background-color: var(--slytherin);
    color: var(--white);
}
.griffindor:hover {
    background-color: var(--griffindor);
    color: var(--white);
}

.dropdown-menu {
    background-color: var(--black-dg);
    border-radius: 1rem;
}

/* GRIFFINDOR */
.header {
    background-image: url(../img/gryffindor-wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    width: 100%;
    height: 100vh;
}

.seccion {
    background-image: url(../img/Sala_Griffindor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
}

#degradado {
    background-color: var(--red-bg);
}

.seccion__texto {
    background-color: var(--white);
    text-align: justify;
    padding: 2rem;
    margin-top: 6rem;
    margin-bottom: 5rem;
    border-radius: 2rem;
}

@media (min-width: 300px) and (max-width: 650px) {
    .seccion__texto {
        width: 50rem;
        height: 63rem;
    }
    .header {
        width: 100%;
        height: 100vh;
    }
}

.seccion__fundador img {
    margin-top: 5rem;
    border-radius: 10rem;
    width: 70%;
    height: 50rem;
}

.seccion__fundador p {
    font-size: 3rem;
}

@media (min-width: 300px) and (max-width: 650px) {
    .seccion__fundador p {
        font-size: 3rem;
    }
}

.seccion__curiosidades {
    background-color: var(--white);
    width: 80rem;
    height: 50rem;
}

/* FOOTER */
.footer {
    background-color: rgba(0, 0, 0, 0.9);
}

.footer h2,
.nav__enlace {
    color: var(--white);
    font-weight: 700;
}

.footer img {
    width: 55%;
    height: 55%;
}

.footer__imagen {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

.linea {
    border-left: 1px solid var(--white);
    height: 75px;
    position: relative;
    right: -3%;
    margin-left: -3px;
    top: 8px;
}

.footer__titulo {
    display: flex;
    justify-content: flex-start;
}

.footer__menu_1,
.footer__menu_2 {
    text-align: start;
}

@media (min-width: 300px) and (max-width: 650px) {
    .footer__titulo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .linea {
        visibility: hidden;
    }
    .footer__imagen img {
        width: 65%;
        height: 75%;
    }
    .footer__menu_1 {
        margin: 0;
    }
}
