#pageloader-overlay {
    opacity: 0;
    top: 0px;
    left: 0px;
    position: fixed;
    background-color: rgba(255, 255, 255);
    height: 100%;
    width: 100%;
    z-index: 9998;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
}

#pageloader-overlay.visible {
    opacity: 1;
}

#pageloader-overlay.hidden {
    opacity: 0;
    height: 0px;
    width: 0px;
    z-index: -10000;
}

#pageloader-overlay .loader-wrapper-outer {
    background-color: transparent;
    z-index: 9999;
    margin: auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: table;
    text-align: center;
    vertical-align: middle;
}

#pageloader-overlay .loader-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
}
