body{
    display:flex;
    flex-direction:column nowrap;    
    justify-content: center;
    width:100%;
    height:1024px;
    background-image: url(../img/Gawalpop-login-registro.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-blend-mode:lighten; 
    
}
.body__mask{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(65, 64, 64); 
}

.encabezado{
    display:flex;
    flex-direction: row;
    width:100%;
    height:140px;
    background-color: black; 
}
.encabezado__escudo{
    display:flex;
    width:25%;
    justify-content: center; 
    margin: 10px;
}

.encabezado__logotipo{
    display: flex;
    width:50%;
    justify-content: center;
}

.formulario{
    display:flex;
    flex-direction:column ;
    justify-content: space-around;
    width:65%;
    background-color:#0806069f;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(2px);
    margin: 45px;
    border-radius: 25px;
}

.formulario__titulos{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(0,0,0,0.05);
    margin: auto;
    padding: 20px 25px;
    border-radius: 25px;
    font-size: 1.3rem;
    font-family: 'IM Fell English SC', serif;
    color:white;
    -webkit-text-stroke: 1.5px rgba(84, 102, 165, 0.85);
}

.formulario__filas{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    align-content: flex-end;
    margin:auto;
    padding: 0%;
}

.formulario__datos{
    display:flex;
    flex-direction: column;
    width:100%;
    height: fit-content;
    padding:0%;
}

.formulario__datos--etiquetas{
    font-size: 0.85rem;
    justify-content: flex-start;
    align-content: flex-end;
    color:white;
    width:100%;
    -webkit-text-stroke: 1.5px rgba(84, 102, 165, 0.85);
    margin-bottom:-0.5%;
    margin-top:6%;
}
.formulario__datos--campos{
    display: flex;
    font-size: 1rem;
    width: 95%;  
    padding: 2%;
    border-radius: 5px;
    background-color:#42393960;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(2px);
    border-top: none;
    border-left: none;
    border-right: none;
    color:white;
}
 
input[type=password]:focus, input[type=email]:focus, input[type=text]:focus,select[name="pregunta"]:focus{
    outline: none;     /* Remove default outline and use border or box-shadow */
    box-shadow: 0 0 0 2px rgba(84, 102, 165, 0.85); /* Full freedom. (works also with border-radius) */
    background-color:#31252548;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(2px);
    border-top: none;
    border-left: none;
    border-right: none;
    color:white;
}

.datos__casa--check{
    display: flex;
    flex-direction: row ;
    color:white;
    justify-content:space-around;
    margin-top:0.5%;
}
 .opcion__casa{
    display: flex;
    flex-direction: column; 
    font-size: 1.2rem;
    color: white; 
    justify-content: center; 
    align-content: flex-end; 
} 

.boton__entrar{
    align-self: center;
    margin-top:5%;
    margin-bottom: 5%;
    font-size: 0.9rem;
}

/* 
  Hide radio button (the round disc)
  we will use just the label to create Push button effect */

input[type=radio] {
    display:none; 
}
/* 
  Change the look'n'feel of labels (which are adjacent to radio buttons).
  Add some margin, padding to label */

input[type=radio]+label {
    display:flex;
    background-color:rgba(0,0,0,0.05);
    justify-content: center; 
    width:25%;   
}

 /* Change background color for label next to checked radio button
 to make it look like highlighted button */

input[type=radio]:checked+label { 
   background-image: none;
   background-color:#918c8c81;
   backdrop-filter: blur(12px);
   -webkit-backdrop-filter: blur(2px);
    justify-content: center;
    border-radius: 5px;
    width: 25%;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid rgba(84, 102, 165, 0.85);
  -webkit-text-fill-color:white;
  transition: background-color 5000s ease-in-out 0s;
  /* color:var(--blanco); */
}


.contrasena:focus+ span::after{
    content:"Debe incluir un número, una letra y un caracter especial";
    color:gray;
    font-size: 0.8rem;
}



/* MediaQueries Breakpoint */
/* Small devices (landscape phones, less than 768px)*/
 @media (max-width: 767.98px) { 
    body{
        width:100%;
        background-position-x: center;
        justify-content: center;
    }
    .body__mask{
        width:100%;
    }
    .encabezado{
        width: 100%;
        height:12%;
        align-content:center;
    }
    .encabezado__escudo img{
        display:none;
    }
     .encabezado__logotipo img{
        align-self: center;
        max-width:160%;
        height:100%;
    } 
    .formulario{
        margin-top:30px !important;
        justify-content: center;
        width: 90% !important;
    }

    .formulario__filas{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin-bottom: -4%;
        margin-top:4%;
    }
    
    .formulario__datos--etiquetas{
        font-size:0.8rem;
        justify-content: flex-start;
        align-content: flex-end;
        color:white;
        width:100%;
        -webkit-text-stroke: 1.5px rgba(84, 102, 165, 0.85);
        margin-bottom:-0.5%;
        /* margin-top:-0.5%; */
    }
    .formulario__datos--campos{
        display: flex;
        font-size: 1rem;
        width: 95%;  
        padding: 2%;
        border-radius: 5px;
        margin-bottom: 0.2%;
    }
    
    .datos__casa--check{
        display: flex;
        flex-direction:row;
        color:white;
        justify-content:space-around;
        margin-top:2% !important;
    }
     .opcion__casa{
        display: flex;
        flex-direction: column; 
        font-size: 0.8rem;
        color: white; 
        /* height: 10%; */
        width: 30%;
        justify-content: center;  
        /* margin-bottom: %; */
    } 

}

 /*Medium devices (tablets, less than 992px)*/

@media (min-width: 767.98px) and (max-width: 1199.98) { 
    body{
        width: 100%;
        background-position-x: center;
        justify-content: center;
        background-size: cover;
    }

    .body__mask{
        width: 100%;
    }

    .formulario{
        margin-top:30px;
        width:80% !important;
        justify-content: center;
    }
    
    .formulario__filas{
        display: flex;
        flex-direction: row;
        width: 95%;
    }
    
    .formulario__datos--etiquetas{
        font-size: 0.8rem;
        width:95%;
        margin-bottom:-0.5%;
    }
    .etiquetas--especial{
        font-size: 0.5rem;
    }
    .formulario__datos--campos{
        display: flex;
        font-size: 1rem;
        width: 95%;  
        padding: 2%;
        border-radius: 5px;
        margin-bottom: 0.2%;
    }
    
    .datos__casa--check{
        display: flex;
        flex-direction:row ;
        color:white;
        justify-content:space-around;
        margin-top:2% !important;
        margin-bottom: 2% !important;
        
    }
     .opcion__casa{
        display: flex;
        flex-direction: column; 
        font-size: 0.8rem;
        color: white; 
        height: 5%;
        width: 30%;
        justify-content: center; 
        align-content: center; 
        margin-bottom: -4%;
    } 
}

 