*{
    margin: 0;
}
#particles-js{
    background-color:  #000511;
    height: 100vh;
    width: 100%;
    position:fixed;
    z-index:-1;
}
img{
    bottom: 0;
    height: 70vh;
    width: 100%;
    position:fixed;
    z-index:-1;
    filter: brightness(60%);   
}
.contenedorPrincipal {
    width: 100%;
    max-width: 1200px;
    z-index: 99;
}